@import 'variables';

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    padding: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: $font2;
}