@import '_generals';
@import '_variables';
@import '_mixin';

.header {
    height: 6rem;
    text-align: center;
    font-family: $font1;
    padding: 1.5rem;

    h1,
    h2 {
        font-size: 1rem;
    }
}

.nav_links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: $color1;
}

.main {
    @include flexit;
    align-items: center;

    .section_text>h3 {
        text-align: center;
    }

    .section_text,
    .section_images {
        margin: 1rem;
    }

    .section_images {
        @include flexit;
        align-items: center;

    }

    img {
        height: 12rem;
        width: 18rem;
        margin: 0 0.5rem 1rem 0.5rem
    }
}

.aside {
    @include flexit;
    margin: 1rem;



    .first_aside,
    .second_aside,
    .third_aside,
    .fourth_aside {
        border: 0.2rem solid $color1;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}



.footer {
    height: 5rem;
    margin-top: 1rem;
    background-color: $color1;

    .footer_links {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .section_images {
        display: flex;
        flex-flow: row wrap;
    }

    .section_text {
        width: 70%;
    }

    .aside {
        display: flex;
        flex-flow: row wrap;
    }

    .first_aside,
    .second_aside,
    .third_aside,
    .fourth_aside {
        width: 45%;
        margin: 0.5rem;
    }
}